############################
# OS X
############################
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

############################
# Linux
############################
*~

############################
# Windows
############################
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

############################
# Archives and packages
############################
*.7z
*.zip
*.tar
*.gz
*.rar
*.dmg
*.iso
*.cab
*.msi
*.msm
*.msp
*.jar
*.com

############################
# Compiled / Binary files
############################
*.class
*.dll
*.exe
*.o
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.seed
*.pid

############################
# Logs and Databases
############################
*.log
*.sql
*.sqlite
*.sqlite3
.tmp

############################
# Node.js
############################
node_modules/
node_modules/*    
backend/node_modules/
lib-cov
lcov.info
pids
logs
results
.node_history

############################
# Environment & config
############################
.env
.tsbuildinfo
.eslintcache

############################
# Strapi specific
############################
.cache/
.build/
dist/
.strapi/
exports/
.strapi-updater.json
.strapi-cloud.json
license.txt

############################
# Uploads
############################
public/uploads/*
!public/uploads/.gitkeep

############################
# Package managers
############################
.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/patches
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log

############################
# Tests
############################
coverage/

############################
# IDEs and Misc
############################
.vscode/
.idea/
nbproject/
ssl
*#
